html,body, .test_wrapper {
  height: 100%;
}

body {
  font-family: Georgia, "Times New Roman",Times, serif;
  font-size: 16px;
}

p {
  font-size: 125%;
  line-height: 1.2;
}

li {
  list-style-type: none;
  line-height: 150%;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 200%;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #C6EC8C;
}

.logstyle {
  font-size: 85%;
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  position:relative;
  height: calc( 100% - 400px);
  height: -moz-calc(100% - (400px));
  height: -webkit-calc(100% - (400px));
  overflow-y: auto;
}

.test_wrapper {
    margin:0 auto;
    width: 95%;
}
.static {
  height: 400px;
}
